tmp/
*.log
# Build output
build/
DerivedData/

# Xcode
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved
qw-wasm/target/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output

# Code Injection
iOSInjectionProject/

# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Archives
*.xcarchive

# Playgrounds
timeline.xctimeline
playground.xcworkspace

# Crashlytics
crashlytics-build.properties
crashlytics.properties
fabric.properties

# Test output
output/
